* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: black;
}

canvas {
    display: block;
}

.hud {
    position: fixed;
    top: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    z-index: 2;
    pointer-events: none;
}

#vidaNave {
    position: absolute;
    left: 10px;
}

#fase {
    position: absolute;
    right: 10px;
}